*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/jinjunhuang/eatwhat/contract/
src/main/java/com/jinjunhuang/eatwhat/model/
src/main/java/com/jinjunhuang/eatwhat/presenter/
src/main/res/drawable/
